<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title + ' | Nova Filter' : 'Nova Filter' %></title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link href="/style.css" rel="stylesheet">
  <script src="/js/lucide.min.js"></script>
</head>
<body class="bg-gray-50 min-h-screen flex items-center justify-center">
  
  <main class="w-full max-w-md mx-auto p-4">
    <%- body %>
  </main>

  <script>
    lucide.createIcons();
  </script>
</body>
</html>
