
<% layout('layouts/default') -%>

<div class="max-w-6xl mx-auto space-y-8">
  <h1 class="text-2xl font-bold mb-6">Корзина</h1>

  <div id="cartContent" class="bg-white p-6 rounded-xl shadow text-center">
    <p class="text-gray-600">Ваша корзина пуста.</p>
  </div>
</div>
